<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<extension point="org.eclipse.ui.commands">
  <category id="ch.so.agi.dbeaver.ili2pg.commands.category" name="ILI2PG"/>
  
  <command
      id="ch.so.agi.dbeaver.ili2pg.commands.importSchema"
      name="Create schema with ili2pg…"
      categoryId="ch.so.agi.dbeaver.ili2pg.commands.category"/>

  <command
      id="ch.so.agi.dbeaver.ili2pg.commands.importData"
      name="Import data with ili2pg…"
      categoryId="ch.so.agi.dbeaver.ili2pg.commands.category"/>
    
  <command
      id="ch.so.agi.dbeaver.ili2pg.commands.exportSchema"
      name="Export schema with ili2pg…"
      categoryId="ch.so.agi.dbeaver.ili2pg.commands.category"/>
      
  <command
      id="ch.so.agi.dbeaver.ili2pg.commands.exportSchemaWithOptions"
      name="Export schema with ili2pg (with options)…"
      categoryId="ch.so.agi.dbeaver.ili2pg.commands.category"/>
      
  <command id="ch.so.agi.dbeaver.ili2pg.commands.validateSchema"
           name="Validate schema with ili2pg…"
           categoryId="ch.so.agi.dbeaver.ili2pg.commands.category"/>
</extension>

<extension point="org.eclipse.ui.handlers">
    <handler
        commandId="ch.so.agi.dbeaver.ili2pg.commands.importSchema"
        class="ch.so.agi.dbeaver.ili2pg.handlers.Ili2pgHandler">
      <enabledWhen>
        <and>
          <with variable="selection"><count value="1"/></with>
          <iterate ifEmpty="false">
            <or>
              <adapt type="org.jkiss.dbeaver.model.navigator.DBNDataSource"/>
              <adapt type="org.jkiss.dbeaver.model.DBPDataSourceContainer"/>
            </or>
          </iterate>
        </and>
      </enabledWhen>
    </handler>


  <handler
      commandId="ch.so.agi.dbeaver.ili2pg.commands.importData"
      class="ch.so.agi.dbeaver.ili2pg.handlers.Ili2pgHandler">
    <enabledWhen>
      <and>
        <with variable="selection"><count value="1"/></with>
        <iterate ifEmpty="false">
          <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
        </iterate>
      </and>
    </enabledWhen>
  </handler>

  <handler
      commandId="ch.so.agi.dbeaver.ili2pg.commands.exportSchema"
      class="ch.so.agi.dbeaver.i.Ili2pgHandlertSchemaHandler">
    <enabledWhen>
      <and>
        <with variable="selection"><count value="1"/></with>
        <iterate ifEmpty="false">
          <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
        </iterate>
      </and>
    </enabledWhen>
      </handler>
      
  <handler
      commandId="ch.so.agi.dbeaver.ili2pg.commands.exportSchemaWithOptions"
      class="ch.so.agi.dbeaver.ili2pg.handlers.Ili2pgHandler">
    <enabledWhen>
      <and>
        <with variable="selection"><count value="1"/></with>
        <iterate ifEmpty="false">
          <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
        </iterate>
      </and>
    </enabledWhen>
  </handler>

  <handler commandId="ch.so.agi.dbeaver.ili2pg.commands.validateSchema"
           class="ch.so.agi.dbeaver.ili2pg.handlers.Ili2pgHandler">
    <enabledWhen>
      <and>
        <with variable="selection"><count value="1"/></with>
        <iterate ifEmpty="false">
          <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
        </iterate>
      </and>
    </enabledWhen>
  </handler>
</extension>

<extension point="org.eclipse.ui.preferencePages">
  <page
    id="ch.so.agi.dbeaver.ili2pg.prefs"
    name="ili2pg"
    class="ch.so.agi.dbeaver.ili2pg.ui.Ili2pgPreferencePage"/>
</extension>

<extension point="org.eclipse.core.runtime.preferences">
  <initializer class="ch.so.agi.dbeaver.ili2pg.ui.Ili2pgPreferenceInitializer"/>
</extension>


<extension point="org.eclipse.ui.menus">
  <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=navigator_additions">

    <!-- Submenu entry "ili2pg" (like "SQL Editor") -->
    <menu
        id="ch.so.agi.dbeaver.ili2pg.popup.menu"
        label="ili2pg"
        icon="icons/interlis.png">
      
      <visibleWhen>
        <and>
          <with variable="selection"><count value="1"/></with>
          <iterate ifEmpty="false">
            <or>
              <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
              <adapt type="org.jkiss.dbeaver.model.navigator.DBNDataSource"/>
              <adapt type="org.jkiss.dbeaver.model.DBPDataSourceContainer"/>
            </or>
          </iterate>
        </and>
      </visibleWhen>
      
      <!-- Commands inside the submenu -->
      <!-- Create schema… only on a database/connection -->
      <command
          commandId="ch.so.agi.dbeaver.ili2pg.commands.importSchema"
          label="Create schema…">
        <visibleWhen>
          <and>
            <with variable="selection"><count value="1"/></with>
            <iterate ifEmpty="false">
              <or>
                <adapt type="org.jkiss.dbeaver.model.navigator.DBNDataSource"/>
                <adapt type="org.jkiss.dbeaver.model.DBPDataSourceContainer"/>
              </or>
            </iterate>
          </and>
        </visibleWhen>
      </command>

      <!-- Import data… only on a schema -->
      <command
          commandId="ch.so.agi.dbeaver.ili2pg.commands.importData"
          label="Import data…">
        <visibleWhen>
          <and>
            <with variable="selection"><count value="1"/></with>
            <iterate ifEmpty="false">
              <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
            </iterate>
          </and>
        </visibleWhen>
      </command>

      <!-- Export schema… only on a schema -->
      <command
          commandId="ch.so.agi.dbeaver.ili2pg.commands.exportSchema"
          label="Export schema…">
        <visibleWhen>
          <and>
            <with variable="selection"><count value="1"/></with>
            <iterate ifEmpty="false">
              <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
            </iterate>
          </and>
        </visibleWhen>
      </command>

      <!-- Export schema with options… only on a schema -->
      <command
          commandId="ch.so.agi.dbeaver.ili2pg.commands.exportSchemaWithOptions"
          label="Export schema with options…">
        <visibleWhen>
          <and>
            <with variable="selection"><count value="1"/></with>
            <iterate ifEmpty="false">
              <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
            </iterate>
          </and>
        </visibleWhen>
      </command>

      <!-- Validate schema… only on a schema -->
      <command
          commandId="ch.so.agi.dbeaver.ili2pg.commands.validateSchema"
          label="Validate schema…">
        <visibleWhen>
          <and>
            <with variable="selection"><count value="1"/></with>
            <iterate ifEmpty="false">
              <adapt type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
            </iterate>
          </and>
        </visibleWhen>
      </command>

      <!-- Optional: allow other plugins (or you later) to add below -->
      <!-- <separator name="ili2pg.additions" visible="true"/> -->
    </menu>
  </menuContribution>
</extension>

</plugin>
